@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
  from {
    scale: 0.5;
  }
}

@keyframes rotateSimple {
  from {
    rotate: 360deg;
  }
}
@keyframes zoomIn {
  from {
    scale: 1.5;
  }
}
@keyframes bounceIn {
  0% {
    transform: scale(0.1);
  }
}

.whyus {
  animation: fade-in auto linear;
  animation-range-start: entry -10%;
  animation-range-end: exit -50%;
  animation-timeline: view();
}

.features {
  animation: bounceIn auto linear;
  animation-timeline: view();
  animation-range-start: entry 0%;
  animation-range-end: exit -350%;
}
